
.footer{
    /* line-height: 2; */
    background: #1a1a1a;
  padding: 6em 0 2em 0;
}

.icon{
width: 40px;
height: 40px;
color: aliceblue;
margin-right: 12px;
background-color: #e52b34;
border: solid 2px rgba(255, 255, 255);
}

.icon:hover{
    background-color:rgba(255, 255, 255, 0.7) ;
    color: #e52b34;
    border: solid 2px rgb(223, 50, 50);

}

.thumb-menu {
    background-image: url(../assets/images/pngtree-creative-burger-exaggerated-delicious-food-photography-png-image_6687052.png);
    width: 80%;
    height:200px;
    
}


.img {
    background-size: cover;
  background-position: center center;
}

.footer p{
    color: rgba(255, 255, 255, 0.7);
    font-size:17px;
    line-height: 2;
    margin-top: 40px;

}

.heading{
    margin-bottom: 40px;
  font-weight: 700;
}

.first-child{
    color: rgba(255, 255, 255, 0.8);
    font-size: 17px;
}

.form-group input{
    border-radius: 2px;
    width: 100%;
    background: rgba(255, 255, 255, 0.7) !important;
    border: none;
    color: rgb(255, 255, 255) !important;
    font-size: 16px;
}

.form-control{
    height: 52px !important;
}

.form-group .submit{
    color: #fff;
    background-color: #e52b34 !important;
}
.open-hours li{
    line-height: 1.5;
}

h6{
    position: relative;
}

h6::after{
    position: absolute;
  content: '';
  width: 73px;
  height: 2px;
  background-color: #e52b34;
 left: 1px;
  bottom: -19px;
}